<div class="story-body">
    <h2>You Don't Need to be Rich to Pop Bottles</h2>
    <p>Most of Wine Enthusiast's top wines of 2018 are under $50</p>
    <div id="chart-1"></div>
</div>

<script src="scripts/chart-01.js"></script>
